body {
    /* background-image: linear-gradient(to bottom, #b0c644d1, rgba(175, 228, 174, 0.761)); */
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    /* background-image: linear-gradient(to bottom, #2ecc71, #27ae60); */
    /* background-image: linear-gradient(to bottom, #9b59b6, #8e44ad); */
    background-image: linear-gradient(to bottom, #fdcb52, #d63447);
    /* background-image: linear-gradient(to bottom, #00bcd4, #039be5); */
    /* background-image: linear-gradient(to bottom, #394c63, rgb(175, 228, 174)); */
    background-attachment: fixed;
    text-align: center;
    font-family: Rockwell;
    font-size: 15px;

    /* background: rgb(236, 230, 230); */
    /* background-color: #ffaa80; */
    /* background-color: #ff9466; */
    /* A slightly darker peach or coral color */
    /* background-color: #f0f0f0; */
    /* Light grey background color */
    /* background-color: #ccc; */
    /* Medium grey background color */
    background-color: #e0e0e0;
    /* Light grey background color */
    color: #000;
}